@import url('navbar.css');

* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(10px);
}

.body-content {
    padding: 5px;
}