<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Markdown preview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=theme + '-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" />
    <script>
        function switchTheme(theme) {
            fetch('/switch-theme/' + theme)
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    }
                });
        }
    </script>
    {% block head %}{% endblock %}

</head>

<body>
    {% include 'navbar.html' %}

    <div class="body-content">
        {% block content %} {% endblock %}
        <hr />
    </div>
</body>

</html>