<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Markdown preview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=theme + '-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        function switchTheme(theme) {
            fetch('/switch-theme/' + theme)
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    }
                });
        }
    </script>
    {% block head %}{% endblock %}

</head>

<body>
    {% include 'navbar.html' %}

    <div class="body-content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>